<ul>
  <li>Total <%= pluralize(Article.count, "article") %></li>
  <li><%= pluralize(Article.found.count, "article") %> found by EMU</li>
  <li><%= pluralize(Article.missed.count, "article") %> missed by EMU</li>
</ul>
