<h2>Variation Types</h2>

<table>
  <tr>
    <th>Variation Type</th>
    <th>Number of Articles</th>
  </tr>
  <% @variation_types.each do |variation_type| %>
  <tr>
    <td><%= link_to variation_type.name, variation_type %></td>
    <td class="number"><%= number_with_delimiter(variation_type.articles_count) %></td>
  </tr>
  <% end %>
</table>