/*
 *= require "yui-reset-fonts-base-grids.css"
 *= require_self
 *= require_tree . 
*/
body {
  margin: 0 auto;
  width: 960px;
  line-height: 165%;
}
a, a:visited {
  color: #000;
}
a:hover {
  color: #666;
}
.number {
  text-align: right;
}
.message {
  padding: 0.25em 1em;
  color: #333;
  background-color: #feb;
}
header {
  padding: 0.25em 1em;
  color: #888;
  background-color: #eee;
}
header a, header a:visited {
  color: #888;
}
header a:hover {
  color: #000;
}
header h1 {
  display: inline-block;
  margin: 0;
}
#navigation {
  display: inline-block;
  margin: 0 2em;
}
#navigation li {
  margin: 0 0.5em;
  list-style: none;
  display: inline-block;
}
#auth {
  display: inline-block;
  margin: 0;
}
#auth li {
  margin: 0 0.5em;
  list-style: none;
  display: inline-block;
}
.ok {
  color: #080;
  margin-right: 0.5em;
}
.not_ok {
  color: #800;
  margin-right: 0.5em;
}
.validated {
  background-color: #ffc;
  color: #888;
  font-size: 85%;
  padding: 0 0.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}