// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.articles {

  .source, .source a, .source a:visited, .navigation, .navigation a, .navigation a:visited {
    color: #888;
    text-align: right;
  }
  .source a:hover, .navigation a:hover {
    color: #000;
  }
  .variation_types, .genes, .validation, .variations {
    padding: 0 0.5em 0.5em 0.5em;
    margin: 0.5em 0 0.5em 1em;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .validation {
    font-weight: bold;
  }
  .validation a {
    font-weight: normal;
  }
  .genes .synonyms {
    color: #666;
    font-size: 85%;
  }
  .genes .name {
    font-size: 85%;
  }
  .mark_0 {
    background-color: #fcc;
  }
  .mark_1 {
    background-color: #cfc;
  }
  .mark_2 {
    background-color: #ffc;
  }
  .no_evidence {
    color: #800;
  }
}
table.articles {
  width: 100%;
}
table.articles a {
  display: block;
  text-decoration: none;
  margin-right: 1em;
}
table.articles td.title {
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}